<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="User" type="com.jason.weixindev.entity.comm.User" />
		<typeAlias alias="Record" type="com.jason.weixindev.entity.attendance.Record" />
	</typeAliases>
	<!-- 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/webdev" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	 -->
	<mappers>
		<mapper resource="com/jason/weixindev/model/mybatis/login/loginMapper.xml" />
		<mapper resource="com/jason/weixindev/model/mybatis/attendance/attendanceMapper.xml" />

	</mappers>
</configuration>