<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.weixindev.model.mybatis.attendance">
	<!-- <select id="selectBlog" resultMap="BlogResultMap"> select content from 
		blogs where id = #{id} </select> <resultMap type="Blog" id="BlogResultMap"> 
		<result property="id" column="id" /> <result property="content" column="content" 
		/> </resultMap> -->
	<select id="getStdId" resultType="String">
		select stdId from
		users where id = #{id}
	</select>

	<insert id="addRecord" parameterType="Record">
		insert into records (stdId,attenTime,CreateTime,Location_X,Location_Y)
		values (#{stdId},#{attenTime},#{CreateTime},#{Location_X},#{Location_Y})
	</insert>
	
	<select id="getRecordDetail" parameterType="String" resultType="Record" >
	SELECT * FROM records WHERE DAY(attenTime) = DAY(#{date});
	</select>
	
	<select id="getUsernameByStdId" resultType="String">
		select username from
		users where stdId = #{stdId}
	</select>

</mapper>